
1. select column
2. Adding column
3. Dropping column
4. Renaming column
5. Check first 2 rows

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Using cached pyspark-3.4.0.tar.gz (310.8 MB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.9/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317145 sha256=7a0276a3b9cc7aa4f5c7ac7de1ad504e65650a108a0cb89c0ec903318c2de8f3
  Stored in directory: /root/.cache/pip/wheels/9f/34/a4/159aa12d0a510d5ff7c8f0220abbea42e5d81ecf588c4fd884
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0

In [ ]:
#srart spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("select_ops").getOrCreate()

In [ ]:
#read
df = spark.read.option('header',True).option('inferschema',True).csv("/content/drive/MyDrive/student_details_pyspark.csv")

In [ ]:
df.show(5)

+------------+---+-----+
|Student_name|Age|Marks|
+------------+---+-----+
|     Avinash| 22|   80|
|     Chandan| 18|   90|
|       Richa| 20|   85|
|      Raghav| 20|   88|
|        Arun| 19|   90|
+------------+---+-----+

In [ ]:
#select
df.select(['Student_name','Age']).show()

+------------+---+
|Student_name|Age|
+------------+---+
|     Avinash| 22|
|     Chandan| 18|
|       Richa| 20|
|      Raghav| 20|
|        Arun| 19|
+------------+---+

In [ ]:
#add
df_revised = df.withColumn("Revised Marks", df['Marks']+5)
df_revised.show()

+------------+---+-----+-------------+
|Student_name|Age|Marks|Revised Marks|
+------------+---+-----+-------------+
|     Avinash| 22|   80|           85|
|     Chandan| 18|   90|           95|
|       Richa| 20|   85|           90|
|      Raghav| 20|   88|           93|
|        Arun| 19|   90|           95|
+------------+---+-----+-------------+

In [ ]:
#drop
df_final_columns = df_revised.drop('Marks')
df_final_columns.show()

+------------+---+-------------+
|Student_name|Age|Revised Marks|
+------------+---+-------------+
|     Avinash| 22|           85|
|     Chandan| 18|           95|
|       Richa| 20|           90|
|      Raghav| 20|           93|
|        Arun| 19|           95|
+------------+---+-------------+

In [ ]:
# Rename the column
df_final = df_final_columns.withColumnRenamed("Revised Marks", "Final Marks")
df_final.show(3)

+------------+---+-----------+
|Student_name|Age|Final Marks|
+------------+---+-----------+
|     Avinash| 22|         85|
|     Chandan| 18|         95|
|       Richa| 20|         90|
+------------+---+-----------+
only showing top 3 rows

In [ ]:
#sql
df_sql = spark.sql("select * from table")