In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("pyspark_5").getOrCreate()

In [11]:
data1 = [
    ("Mark",1000),
    ("Bob",1500),
    ("Charlie",2000), # Added Charlie's salary
    ("David",2200),
    ("Eve",1200),
]

In [12]:
from pyspark.sql import Row
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

schema = StructType([
    StructField("name", StringType(), True),
    StructField("salary", IntegerType(), True)
])

employeeDF = spark.createDataFrame(data1, schema)
employeeDF.show()

+-------+------+
|   name|salary|
+-------+------+
|   Mark|  1000|
|    Bob|  1500|
|Charlie|  2000|
|  David|  2200|
|    Eve|  1200|
+-------+------+

In [5]:
#create 2nd dataframe

data2 = [
    ("Alice", "Sales"),
    ("Bob", "Sales"),
    ("Charlie", "IT"),
    ("David", "IT"),
    ("Eve", "HR"),
]
column2 = ["Employee_name", "Department"]

departmentDF = spark.createDataFrame(data2, column2)
departmentDF.show()

+-------------+----------+
|Employee_name|Department|
+-------------+----------+
|        Alice|     Sales|
|          Bob|     Sales|
|      Charlie|        IT|
|        David|        IT|
|          Eve|        HR|
+-------------+----------+

In [ ]:
#inner join

inner_join_df = employeeDF.join(departmentDF, employeeDF.name == departmentDF.Employee_name, "inner").show()

+-------+------+-------------+----------+
|   name|salary|Employee_name|Department|
+-------+------+-------------+----------+
|    Bob|  1500|          Bob|     Sales|
|Charlie|  2000|      Charlie|        IT|
|  David|  2200|        David|        IT|
|    Eve|  1200|          Eve|        HR|
+-------+------+-------------+----------+

In [ ]:
#outer Join

outer_join_df = employeeDF.join(departmentDF, employeeDF.name == departmentDF.Employee_name, "outer").show()

+-------+------+-------------+----------+
|   name|salary|Employee_name|Department|
+-------+------+-------------+----------+
|   NULL|  NULL|        Alice|     Sales|
|    Bob|  1500|          Bob|     Sales|
|Charlie|  2000|      Charlie|        IT|
|  David|  2200|        David|        IT|
|    Eve|  1200|          Eve|        HR|
|   Mark|  1000|         NULL|      NULL|
+-------+------+-------------+----------+

In [ ]:
#left join

left_join_df = employeeDF.join(departmentDF, employeeDF.name == departmentDF.Employee_name, "left").show()

+-------+------+-------------+----------+
|   name|salary|Employee_name|Department|
+-------+------+-------------+----------+
|    Bob|  1500|          Bob|     Sales|
|   Mark|  1000|         NULL|      NULL|
|Charlie|  2000|      Charlie|        IT|
|    Eve|  1200|          Eve|        HR|
|  David|  2200|        David|        IT|
+-------+------+-------------+----------+

In [ ]:
#right join

right_join_df = employeeDF.join(departmentDF, employeeDF.name == departmentDF.Employee_name, "right").show()

+-------+------+-------------+----------+
|   name|salary|Employee_name|Department|
+-------+------+-------------+----------+
|    Bob|  1500|          Bob|     Sales|
|   NULL|  NULL|        Alice|     Sales|
|Charlie|  2000|      Charlie|        IT|
|    Eve|  1200|          Eve|        HR|
|  David|  2200|        David|        IT|
+-------+------+-------------+----------+

In [ ]:
#leftsemi join

leftsemi_join_df = employeeDF.join(DepartmentDF, employeeDF.name == departmentDF.Employee_name, "leftsemi").show()

+-------+------+
|   name|salary|
+-------+------+
|    Bob|  1500|
|Charlie|  2000|
|  David|  2200|
|    Eve|  1200|
+-------+------+

In [ ]:
#left anti join
left_anti_join_df = employeeDF.join(departmentDF, employeeDF.name == departmentDF.Employee_name, "leftanti").show()

+----+------+
|name|salary|
+----+------+
|Mark|  1000|
+----+------+